@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.title {
  cursor: pointer;
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-sm;
  transition: background-color $transition-fast;
  word-break: break-word;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  
  &:focus-visible {
    outline: 2px solid $color-border-focus;
    outline-offset: 2px;
  }
}

.input {
  @include input-base;
  padding: $spacing-xs $spacing-sm;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: $color-card-bg;
  min-width: 0;
  
  &:focus {
    border-color: $color-border-focus;
  }
}
